In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.head()

,Возраст,Пол,Состоит в браке,Иждивенцы,Доход,Опыт работы,Срок проживания,Недвижимость(кв.м.),Месячный платеж,Благонадежный заемщик
0,28.0,женский,Да,0.0,9000.0,9.0,7.0,0.0,3946.0,Нет
1,39.0,мужской,Да,1.0,13500.0,17.0,6.0,0.0,2460.0,Да
2,31.0,мужской,Нет,2.0,7000.0,11.0,3.0,0.0,3126.0,Нет
3,34.0,мужской,Нет,1.0,10200.0,15.0,2.0,41.0,3280.0,Да
4,46.0,женский,Да,2.0,8500.0,20.0,8.0,0.0,3348.0,Да

<div class="panel panel-info" style="margin: 50px 0 0 0">
    <div class="panel-heading">
        <h3 class="panel-title">Задание 1: Причесываем колонки</h3> 
    </div>
</div>

Окей, мы прочитали данные, но с ними еще не совсем удобно работать!

Прежде всего, __переименуйте колонки__ так, чтобы они все были на старом-добром английском языке. Выберите удобный вам формат, обычно предпочитают называть их __`likeThat`, `LikeThat`__ или __`like_that`__.

In [4]:
# Ваш код здесь

In [5]:
df=df.rename(columns={'Возраст':'age',
                     'Пол':'sex',
                     'Состоит в браке':'married',
                     'Иждивенцы':'dependents',
                     'Доход':'income',
                     'Опыт работы':'experience_work',
                     'Срок проживания':'residence_period',
                     'Недвижимость(кв.м.)':'area_square',
                     'Месячный платеж':'payment_month',
                     'Благонадежный заемщик':'trustworthiness'})

In [6]:
df.head()

,age,sex,married,dependents,income,experience_work,residence_period,area_square,payment_month,trustworthiness
0,28.0,женский,Да,0.0,9000.0,9.0,7.0,0.0,3946.0,Нет
1,39.0,мужской,Да,1.0,13500.0,17.0,6.0,0.0,2460.0,Да
2,31.0,мужской,Нет,2.0,7000.0,11.0,3.0,0.0,3126.0,Нет
3,34.0,мужской,Нет,1.0,10200.0,15.0,2.0,41.0,3280.0,Да
4,46.0,женский,Да,2.0,8500.0,20.0,8.0,0.0,3348.0,Да

<div class="panel panel-info" style="margin: 50px 0 0 0">
    <div class="panel-heading">
        <h3 class="panel-title">Задание 2: Язык, понятный компуктору</h3> 
    </div>
</div>

Все русские слова - вон! Да, и значения в колонках в том числе. 

Замените все значения в колонках пола, признака состояния в браке и благонадежности на старые-добрые нули и единицы, раз уж уникальных значений в них не больше двух.

Убедитесь, что у вас все получилось, вызвав __`value_counts()`__ у соответствующих колоночек. А потом и проверьте тип данных с помощью __`info()`__

In [7]:
# Ваш код здесь

In [8]:
renaming_sex={'женский':0, 'мужской':1}
renaming_yesno={'Да': 1, 'Нет': 0}
df.sex=df.sex.map(renaming_sex)
df.married=df.married.map(renaming_yesno)
df.trustworthiness=df.trustworthiness.map(renaming_yesno)

In [9]:
df.head()

,age,sex,married,dependents,income,experience_work,residence_period,area_square,payment_month,trustworthiness
0,28.0,0.0,1.0,0.0,9000.0,9.0,7.0,0.0,3946.0,0.0
1,39.0,1.0,1.0,1.0,13500.0,17.0,6.0,0.0,2460.0,1.0
2,31.0,1.0,0.0,2.0,7000.0,11.0,3.0,0.0,3126.0,0.0
3,34.0,1.0,0.0,1.0,10200.0,15.0,2.0,41.0,3280.0,1.0
4,46.0,0.0,1.0,2.0,8500.0,20.0,8.0,0.0,3348.0,1.0

In [10]:
print(df.sex.value_counts())
print(df.married.value_counts())
print(df.trustworthiness.value_counts())

1.0    650
0.0    349
Name: sex, dtype: int64
1.0    590
0.0    409
Name: married, dtype: int64
0.0    507
1.0    492
Name: trustworthiness, dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
age                 999 non-null float64
sex                 999 non-null float64
married             999 non-null float64
dependents          999 non-null float64
income              999 non-null float64
experience_work     999 non-null float64
residence_period    999 non-null float64
area_square         999 non-null float64
payment_month       999 non-null float64
trustworthiness     999 non-null float64
dtypes: float64(10)
memory usage: 78.2 KB

In [12]:
df[(df.sex!=0) & (df.sex!=1)]

,age,sex,married,dependents,income,experience_work,residence_period,area_square,payment_month,trustworthiness
999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<div class="panel panel-warning" style="margin: 0 0 0 0">
    <div class="panel-heading">
        <h3 class="panel-title">Бонус!</h3> 
    </div>
</div>

Удали строчку с __NaN__! Найди ее! И удали!

In [13]:
# Ваш код здесь

In [14]:
df=df[~df.isnull().any(axis=1)]

In [15]:
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [age, sex, married, dependents, income, experience_work, residence_period, area_square, payment_month, trustworthiness]
Index: []

<div class="panel panel-info" style="margin: 50px 0 0 0">
    <div class="panel-heading">
        <h3 class="panel-title">Задание 3: Новые колонки</h3> 
    </div>
</div>

Помнишь еще, как создаются новые колонки? Ну ничего, погуглишь.

1. Сделай новую колонку __а-ля "удар по бюджету"__, значения в которой равны доле месячного платежа к величине дохода.
2. Посчитай в новой колонке __а-ля "размер семьи"__, сколько у заемщика человек в семье, то есть количество иждивенцев + муж/жена (если таковые имеются). 
2. Считая, что деньги в семье распределяются абсолютно честно, сделай новую колонку __а-ля "моя доля"__, значения в которой равны доходу (чистому, учитывая ежемесячный платеж!), деленному на количество человек в семье.

Вызови __.head()__ и полюбуйся в конце на результаты своей работы.

In [16]:
# Ваш код здесь

In [17]:
df['income_payment_ratio']=df.payment_month/df.income
df['family_size']=df.dependents+df.married+1
df['clearincome_familysize_ratio']=(df.income-df.payment_month)/df.family_size

In [18]:
df.head()

,age,sex,married,dependents,income,experience_work,residence_period,area_square,payment_month,trustworthiness,income_payment_ratio,family_size,clearincome_familysize_ratio
0,28.0,0.0,1.0,0.0,9000.0,9.0,7.0,0.0,3946.0,0.0,0.438444,2.0,2527.000000
1,39.0,1.0,1.0,1.0,13500.0,17.0,6.0,0.0,2460.0,1.0,0.182222,3.0,3680.000000
2,31.0,1.0,0.0,2.0,7000.0,11.0,3.0,0.0,3126.0,0.0,0.446571,3.0,1291.333333
3,34.0,1.0,0.0,1.0,10200.0,15.0,2.0,41.0,3280.0,1.0,0.321569,2.0,3460.000000
4,46.0,0.0,1.0,2.0,8500.0,20.0,8.0,0.0,3348.0,1.0,0.393882,4.0,1288.000000

<div class="panel panel-warning" style="margin: 0 0 0 0">
    <div class="panel-heading">
        <h3 class="panel-title">Бонус!</h3> 
    </div>
</div>

Удали один какой-нибудь ненужный столбец, если хочешь. Какой-нибудь бесполезный. Но лучше не надо.

In [19]:
# Ваш код здесь

In [20]:
#df=df.drop('payment_share',1) #'payment_share'-специально добавленый столбец
#df.head()

<div class="panel panel-info" style="margin: 50px 0 0 0">
    <div class="panel-heading">
        <h3 class="panel-title">Задание 4: Время гуглить</h3> 
    </div>
</div>

В `pandas` есть функция под названием __`cut()`__, которая позволяет разбить значения признака на группы (или корзины), и присвоить каждой группе свою метку.

Например, будет неплохой идеей разбить возраст на возрастные группы: до 18 лет, до 30 лет, до 50, до 99. И сделать новую колонку с соответствующей меткой. Можно, чтобы она была строкой, да.

Как раз и вспомнишь, как новый столбец сделать.

А потом посмотри на __`.value_counts()`__ этого столбца и сделай мудрые выводы.

In [21]:
# Ваш код здесь

In [22]:
tags=[0, 18, 30, 50, 99]
group_names=['child', 'young', 'mature', 'old']
df['age_group']=pd.cut(df.age, tags, labels=group_names)

In [23]:
df[['age', 'age_group']].head()

    age age_group
0  28.0     young
1  39.0    mature
2  31.0    mature
3  34.0    mature
4  46.0    mature

In [24]:
df.age_group.value_counts()

mature    657
young     297
old        45
child       0
Name: age_group, dtype: int64

<div class="panel panel-info" style="margin: 50px 0 0 0">
    <div class="panel-heading">
        <h3 class="panel-title">Задание 5: Время приключений</h3> 
    </div>
</div>

Кто тут data scientist? Ты data scientist!

Докажи это! Исследуй данные вдоль и поперек!

Группируй с помощью __`.groupby()`__ строки по полу, семейному статусу и всему другому, что приходит в голову, и считай статистики: средние и медианные доходы, квадратные метры и размеры семей. Не забывай учитывать и нашу целевую переменную - благонадежность - и задавать себе вопросы: _"Правда ли, что старшее поколение более надежно в деле выплат?"_, _"Правда ли, что молодые больше зарабатывают?"_, - все, что придумаешь.

Не разочаруй! Удачи!
А я спать, уже полвторого ночи, лол.

In [25]:
# Ваш код здесь

In [26]:
copy=df.groupby(['sex'])

In [27]:
copy.clearincome_familysize_ratio.describe()

,count,mean,std,min,25%,50%,75%,max
sex,,,,,,,,
0.0,349.0,4107.517144,4305.345903,-2852.0,1513.333333,2780.00,4994.50,29886.0
1.0,650.0,4221.303359,4394.125933,-3052.0,1629.600000,2955.75,5288.75,31438.0

In [28]:
copy.income_payment_ratio.describe()

,count,mean,std,min,25%,50%,75%,max
sex,,,,,,,,
0.0,349.0,0.395745,0.253447,0.048235,0.214379,0.348500,0.517429,1.838824
1.0,650.0,0.400391,0.282091,0.023933,0.203047,0.341667,0.526302,2.228261

In [29]:
copy=df.groupby(['age_group'])
copy.trustworthiness.describe()

           count      mean       std  min  25%  50%  75%  max
age_group
child        0.0       NaN       NaN  NaN  NaN  NaN  NaN  NaN
mature     657.0  0.473364  0.499670  0.0  0.0  0.0  1.0  1.0
old         45.0  0.733333  0.447214  0.0  0.0  1.0  1.0  1.0
young      297.0  0.498316  0.500841  0.0  0.0  0.0  1.0  1.0